<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <springProperty name="appName" source="spring.application.name"/>
    <springProperty name="logfile" source="service.elk.log.file"/>
    
    <logger name="org.springframework" level="INFO"/>
	<appender name="STASH" class="ch.qos.logback.core.rolling.RollingFileAppender">
	    <file>${logfile}</file>
	    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
	        <fileNamePattern>${LOG_FILE}.%d{MM-dd-yyyy}.log</fileNamePattern>
	        <maxHistory>10</maxHistory>
	        <totalSizeCap>100MB</totalSizeCap>
	    </rollingPolicy>
	    <encoder class="net.logstash.logback.encoder.LogstashEncoder">
		     <includeCallerInfo>true</includeCallerInfo>
		     <customFields>{"appname":"${appName}"}</customFields>
	    </encoder>
	</appender>
	<root level="INFO">
	    <appender-ref ref="STASH" />        
	</root>    
</configuration>